Package: org.thebigboss.ccflashlightlevel
Name: CCFlashLightLevel
Depends: mobilesubstrate, firmware (>= 7.0), gsc.camera-flash
Version: 1.1
Architecture: iphoneos-arm
Description: adjustable torch level from Control Center's torch button.
Author: PoomSmart
Section: Tweaks
